header {
  display: block;
}

img {
  width: 960px;
}

body {
  width: 960px;
  margin: 0px auto;
  text-align: center;
  background: white;
}

.header {
  display: block;
}

nav {
  text-align: center;
  width: 960px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 60px;
  border: double;
  color: rgba(20, 90, 50, 0.5);
}

a {
  color: rgba(20, 40, 25, 0.5);
}

a:visited, a:hover, a:active {
  color: rgba(20, 90, 50, 0.5);
}

.blue {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

h2 {
  font: simplifica;
  font-weight:lighter;
  padding: 10px;
}

h3 {
  font: simplifica;
  font-weight:lighter;
  padding: 10px;
}

p h3 {
  padding: 10px;
}

.jumbotron {
  color: white;
  background-color: rgba(20, 90, 50, 0.5);
  width: 100%;
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  line-height: 60px;
}

nav a {
  padding: 8%;
}

.col-md-4 img {
  width: 300px;
  display: float;
}

@media query {

}
